# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test action

# Don't run this workflow concurrently
permissions:
  id-token: write
  contents: read
  issues: write
  pull-requests: write


on:
  push:
    branches: [ "main" ]
jobs:
  test_basic_timed_out:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: LouisBrunner/checks-action@v1.6.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        name: Test Basic Timed Out
        conclusion: timed_out