# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test action

# Don't run this workflow concurrently
concurrency: regressions-tests.yml

on:
  push:
    branches: [ "main" ]
jobs:
  test_something:
    runs-on: ["self-hosted", "LipaPC"]
    steps:
    - uses: actions/checkout@v3
    - name: Failing step
      id: demo
      run: echo "banana"