# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test action

# Don't run this workflow concurrently
concurrency: regressions-tests.yml

on:
  push:
    branches: [ "main" ]
jobs:
  test_something:
    runs-on: ["self-hosted", "LipaPC"]
    steps:
    - uses: actions/checkout@v3
    - uses: LouisBrunner/checks-action@v1.6.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        name: Test 
        conclusion: "success"
        output: |
          {"summary":"Test was a success","text_description":"This is a text description of the annotations and images\nWith more stuff\nAnd more"}
    - name: Failing step
      id: demo
      run: echo "banana"
